a {
    text-align: var(--bs-body-text-align);
    word-wrap: break-word;
    box-sizing: border-box;
    text-decoration: none!important;
    transition: all .5s ease;
    margin-top: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block!important;
    margin-bottom: 0!important;
    --bs-text-opacity: 1;
    color: #3c4858!important;
    font-family: var(--bs-font-sans-serif);
    line-height: 1.4;
    font-weight: 600;
}
