.bottom {
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #161c2d;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 1rem 0 !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

    input {
        float: left;
        display: inline-flex;
        word-wrap: break-word;
        box-sizing: border-box;
        width: 75%;
        padding: .375rem .75rem;
        font-weight: 400;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        border: 1px solid #e9ecef;
        font-size: 14px;
        line-height: 26px;
        border-radius: 6px;
        color: #3c4858 !important;
    }

    button {
        float: right;
        display: inline-flex;
        text-align: center;
        cursor: pointer;
        border: 1px solid #484848;
        //background-color: #0D6EFDFF;
        border-radius: 5px;
        margin: 3px;

        width: 2.35rem;
        height: 2.35rem;

        background: url("https://assets.edlin.app/icons/font-awesome/paper-plane/paper-plane-regular.svg") center no-repeat;
    }
}
