.contact {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 5rem;
    height: 4.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .pic {
        position: absolute;
        left: 0;
    }

    .name {
        font-weight: 500;
        margin-bottom: 0.125rem;
    }

    .message, .seen {
        font-size: 0.9rem;
        color: $text-3;
    }

    .badge {
        box-sizing: border-box;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        font-size: 0.9rem;
        padding-top: 0.125rem;
        border-radius: 1rem;

        top: 0;
        left: 2.5rem;
        background: $text-1;
        color: white;
    }
}
