@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";

//App
.chat {

    margin-top: 5rem;
    margin-bottom: 3rem;

    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #161c2d;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-clip: initial;
    border: 0 !important;
    margin-top: 1.5rem !important;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(60, 72, 88, .15) !important;
    border-radius: 6px !important;

    @extend .container;

    @import "top/top";
    @import "messages/messages";
    @import "bottom/bottom";
}
