a {
    font-family: var(--bs-btn-font-family);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    background-color: var(--bs-btn-bg);
    outline: none;
    font-size: 16px;
    letter-spacing: .5px;
    transition: all .3s;
    font-weight: 600;
    border-radius: 6px;
    height: 36px;
    width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
