input {
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #e9ecef;
    font-size: 14px;
    line-height: 26px;
    border-radius: 6px;
    color: #3c4858 !important;
    text-align: left;
}
