.footer {
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #161c2d;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 1rem 0 !important;
    //box-shadow: 0 0 3px rgba(60, 72, 88, .15) !important;
    //border-bottom-left-radius: 6px !important;
    //border-bottom-right-radius: 6px !important;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

    //@import "div";
    @import "input";
    @import "a";
    @import "i";
}
